ul.noBullet {
	list-style-type: none;
}

ul.navigation {
	margin: 0;
	padding: 0.8em;
	text-align: center;
}

ul.navigation li {
	list-style: none;
	display: inline;
	margin: 0.4em;
	padding: 0;
}

fieldset>label {
	display: block;
	float: left;
	margin-right: 0.5em;
	width: 10em;
}

.error {
	color: red;
}

body {
	font-family: verdana, helvetica, arial, sans-serif;
}